<!DOCTYPE html>
<html>
    <head>
        {%metas%}
        <title>Treball de recerca</title>
        <link rel="icon" href="/assets/logo.png" sizes="32x32" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
		<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #111111;
			}
			.app-content {
				margin: 0;
				padding: 0;
			}
			footer {
				text-align: center;
				margin: 0;
				color: #7FDBFF;
				background-color: #111111;
				padding: 10px 0;
				font-family: 'Ubuntu', sans-serif;
			}
		</style>
        {%css%}
    </head>
    <body>
        <div class="app-content">
            {%app_entry%}
        </div>
        <footer>
            <p class="app-signature">&copy; Desenvolupat per Erik Sanchon, 2025</p>
        </footer>
    </body>
    {%config%}
    {%scripts%}
    {%renderer%}
</html>
